body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    max-height: 100%;
    background-image: url(img/gedung.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.container {
    width: 300px;
    margin: 85px auto;
    padding: 20px;
    background: rgba(30, 30, 30, 12%);
    backdrop-filter: blur(10px);
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
    color: white;
}