body {
  background-color: rgba(232, 230, 224, 1);
  font-family: "Knewave", "Gaegu", "Homemade Apple", serif, Arial, cursive, Times New Roman;
  text-align: center;
  overflow-x: hidden;
  max-width: 100vw;
}

/* halaman hero */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 100%; /* Menghilangkan batasan lebar */
  margin: 0 auto;
  background-image: url('img/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  overflow: hidden;
}

.fade-in {
  opacity: 0; /* Awalnya tidak terlihat */
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  position: relative;
  top: 4%;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 0.625rem;;
}

#nama {
  position: relative;
  font-family: "Gaegu", serif;
  top: 7%;
  font-size: 1.6rem; /* Menggunakan vw untuk ukuran font responsif */
  font-weight: bold;
  margin-bottom: 1.25;
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

#date {
  font-family: Times New Roman;
  position: relative;
  top: 4rem;
  font-size: 0.825rem; /* Menggunakan vw untuk ukuran font responsif */
  margin-bottom: 2.5rem;
}

.title, .name {
  font-size: 0.725rem;
  font-weight: bold;
}

.button {
  background-color: #A58B7B; /* Warna coklat muda */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 30vw;
  height: 3vh;
  font-size: 0.788rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: black;
  color: white;
}

.ba {
  font-family: Times New Roman;
  left: 22%;
  width: 60vw;
  height: auto;
  position: relative;
  top: 3rem;
  background-color: transparent;
  border: 2px black double;
  border-radius: 15px;
}

/* halaman home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Mengubah menjadi auto untuk responsivitas */
  padding: 2rem; /* Menambahkan padding */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
}

.image {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

.image:hover {
  transition: filter 0.5s ease-in-out;
  transform: scale(1.1);
  opacity: 0.8;
}

.quote {
  position: relative;
  top: 80px;
  margin-top: 20px;
  padding: 2rem; /* Menambahkan padding */
  padding-right: 0px;
}

.quote h2 {
  position: relative;
  font-size: 22px;
  padding-left: 50px;
}

.quote p {
  position: relative;
  font-family: Arial;
  text-align: left;
  padding-left: 100px;
  font-size: 10px;
  line-height: 2;
  overflow-x: hidden;
}

.quote .reference {
  font-style: italic;
}


/* halaman undang */
.tepi {
  position: relative;
  width: 95vw;
  margin-bottom: 5%;
  left: -23px;
}

.invite {
  position: relative;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 40%;
  overflow-x: hidden;
}

.note {
  position: relative;
  font-family: sans-serif;
  padding: 5px;
  bottom: 1px;
  background-color: white;
  border-radius: 15px;
}

.note p {
  font-size: 13px;
}

.cont{
        border-top: 5px dashed #988d8d69;
        width: 100vw;
        bottom: 170px;
        margin-top: 5px;
        max-width: 100%;
        padding: 1px 3px;
        background-color: #8080800a;
    }

/* halaman info */
.info {
  font-family: sans-serif;
  overflow-x: hidden;
}

h7 {
  font-family: Times New Roman;
  position: relative;
  top: 40px;
  color: grey;
  font-size: 30px;
  font-weight: bold;
}

.circle2 {
  position: relative;
  background-color: lightgrey;
  margin-top: 13%;
  padding: 10px;
  border-radius: 15px;
  border: 3px white solid;
  width: 300px;
  height: auto;
  right: 10px;
}

#ads, #aw {
  opacity: 0; /* Sembunyikan elemen awalnya */
  transition: all 1s ease-in-out; /* Durasi dan efek transisi */
}

#ads.show, #aw.show {
  opacity: 1; /* Tampilkan elemen */
}

/* Animasi slide-in dari kanan */
#aw.show {
  transform: translateX(100%);
  animation: slide-in-right 1s ease-in-out forwards;
}

#ads.show {
  transform: translateX(-100%);
  animation: slide-in-up 1s ease-in-out forwards;
}

@keyframes slide-in-right {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-up {
  to {
    transform: translateX(0);
  }
}

/* halaman story */
.story {
    background-color: rgba(232, 230, 224, 1);
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

h6 {
  font-size: 40px;
}

.story .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: black !important;
  border: 3px solid white;
  border-radius: 15px;
  margin: 10px;
  width: 80vw;
}

.story .card-header {
  background-color: #999;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 30px;
}

#card, #head {
  opacity: 0; /* Sembunyikan elemen awalnya */
  transition: all 1s ease-in-out; /* Durasi dan efek transisi */
}

#card.show, #head.show {
  opacity: 1; /* Tampilkan elemen */
}

/* Animasi slide-in dari kanan */
#card.show {
  transform: translateX(100%);
  animation: slide-right 1.5s forwards;
}

#head.show {
  transform: translateY(100%);
  animation: slide-up 2s forwards;
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}

.story .card-body {
  font-size: 0.8rem;
  height: 75px;
}

.card-body1 {
  font-size: 0.8rem;
  height: 75px;
}

/* halaman gift */
.gift {
  background-color: rgba(232, 230, 224, 1);
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto; /* Mengubah menjadi auto untuk responsivitas */
  padding: 2rem; /* Menambahkan padding */
}

.gift-img {
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  width: 150px;
  height: auto;
  border: 10px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

.img:hover {
  transition: filter 0.5s ease-in-out;
  transform: scale(1.1);
  opacity: 0.8;
}

.kata {
  font-family: Times New Roman;
  padding-right: 30%;
  padding-left: 30%;
  margin: 0px;
  float: center;
  text-align: center;
  font-size: 10px;
}

.gifts {
  padding-top: 10px;
  padding-bottom: 5px;
}

.gifts span {
  font-family: sans-serif;
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gifts p {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.list-group-item {
  height: 170px;
  background-color: white;
  font-family: Sans-Serif;
  font-size: 18px;
  margin: 10px;
  padding-top: 30px;
  border-radius: 15px;
}

ul {
  font-family: Sans-Serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gifts h2 {
  color: rgba(232, 230, 224, 1);
  font-family: Times New Roman;
  font-size: 5rem;
  font-weight: bold;
}

.ucapan {
    font-family: Times New Roman;
    position: relative;
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 2px;
}

#Nama, #Jumlah, #Status {
  outline: 1px solid black;
  border-radius: 3px;
}

#Ucapan {
  margin-top: 0.3rem;
  height: 20vh;
  outline: 1px solid black;
}

#wishesList {
    font-family: Times New Roman;
    background-color: white;
    font-size: 13px;
    width: 100%; /* Sesuaikan lebar sesuai kebutuhan */
    max-height: 150px;
    margin: 0 auto;
    padding: 20px;
    border: 3px double #666;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
}

input {
    font-family: Times New Roman;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#btn-rsvp {
    font-family: sans-serif;
    background-color: black;
    width: 100%;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    cursor: pointer;
}

h9 {
  font-size: 1.5rem;
  font-family: cursive;
  font-weight: bold;
}

footer {
  position: relative;
  font-family: Times New Roman;
  padding: 0px;
  background-color: white;
  color: black;
}

footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

/* audio */
.audio-icon-wrapper {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  position: fixed;
  bottom: 50%;
  right: 5px;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1024px) {
    /* Desktop styles */
    .hero {
      background-position-y: 65%;
    }
    
    #title {
      left: 5%;
      font-size: 1rem;
    }
    
    #names {
      left: 5%;
      font-size: 2rem;
    }
    
    #date {
      left: 5%;
      margin-top: -15px;
      font-size: 16px;
      font-weight: bold;
    }
    
    #ba {
      font-size: 20px;
      width: 58vw;
      margin-top: 20%;
      background-color: rgba(232, 230, 224, 0.5);
    }
    
    #ba .button {
      font-size: 0.8rem;
    }
    
      /* Mengatur section story agar menggunakan Flexbox */
    #story {
        display: flex;
        flex-direction: column; /* Mengatur arah flex menjadi kolom */
        align-items: center; /* Menengahkan konten secara horizontal */
        padding: 20px; /* Menambahkan padding di sekitar section */
    }
    
    /* Mengatur row dalam section story */
    #story #row {
        display: flex;
        flex-direction: column; /* Mengatur arah flex menjadi kolom */
        align-items: center; /* Menengahkan kolom secara horizontal */
        width: 100%; /* Mengatur lebar row menjadi 100% */
    }
    
    /* Mengatur card agar memiliki margin dan lebar yang sesuai */
    .card {
        margin: 15px 0; /* Menambahkan margin vertikal di sekitar card */
        width: 100%; /* Mengatur lebar card menjadi 100% */
        max-width: 500px; /* Mengatur lebar maksimum card */
    }
    
    /* Menambahkan gaya untuk header card */
    .card-header {
        font-weight: bold; /* Menebalkan teks header */
        font-size: 1.25rem; /* Mengatur ukuran font header */
    }
    
    /* Menambahkan gaya untuk body card */
    .card-body {
        padding: 15px; /* Menambahkan padding di dalam body card */
        text-align: center; /* Menengahkan teks di dalam body card */
    }
    
    .card-body1 {
      font-size: 0.8rem;
      height: 100px;
    }
  
  /* Menambahkan gaya untuk gambar */
  .gift-img {
      display: flex;
      flex-direction: column; /* Mengatur gambar dalam kolom */
      align-items: center; /* Menengahkan gambar secara horizontal */
  }
  
  .img {
      max-width: 100%; /* Mengatur lebar maksimum gambar */
      height: auto; /* Mengatur tinggi gambar secara otomatis */
      margin: 10px 0; /* Menambahkan margin vertikal di sekitar gambar */
  }
  
   .circle1, .circle2 {
      left: 14%;
      width: 70%; /* Lebar lingkaran lebih kecil di perangkat tablet */
    }
    
    hr {
      left: 14%;
      width: 70%;
    }
    
  .quote p {
    font-size: 1rem;
  }  
  
  .tepi {
    width: 50%;
    height: auto;
    margin-bottom: 5%;
  }
  
  .image {
    width: 50%;
    height: auto;
  }
  
  .grid {
    grid-gap: 0px;
  }
   
@media (max-width: 480px) {
    /* Mobile styles */
  .hero {
    position: relative;
    height: 100vh;
    width: 360px;
    margin: 0px;
    background-image: url('https://assets.onecompiler.app/433dffa86/434mpyhra/home.jpg');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: -50px;
    padding: 0px;
    overflow-x: hidden;
  }
  
  .img {
    left: 100px;
  }
}

@media (min-width: 375px) and (max-width: 481px) {
  .date {
    margin-top: 50%;
    font-size: 2vw; /* Ukuran font lebih kecil untuk mobile */
  }
  
  .ba {
      margin-top: 10%;
    }
}

@media (min-width: 768px) {
  .hero {
    background-image: url('https://assets.onecompiler.app/433dffa86/434mpyhra/home.jpg'); /* Gambar berbeda untuk mobile */
  }
  
  .title {
    font-size: 2vw;
  }

  .names {
    font-size: 5vw; /* Ukuran font lebih kecil untuk mobile */
  }

  .date {
    margin-top: 8%;
    font-size: 2vw; /* Ukuran font lebih kecil untuk mobile */
  }
  
  .ba {
    margin-top: 0px;
  }
  
  
    /* Mengatur section story agar menggunakan Flexbox */
    #story {
        display: flex;
        flex-direction: column; /* Mengatur arah flex menjadi kolom */
        align-items: center; /* Menengahkan konten secara horizontal */
        padding: 20px; /* Menambahkan padding di sekitar section */
    }
    
    /* Mengatur row dalam section story */
    #story #row {
        display: flex;
        flex-direction: column; /* Mengatur arah flex menjadi kolom */
        align-items: center; /* Menengahkan kolom secara horizontal */
        width: 100%; /* Mengatur lebar row menjadi 100% */
    }
    
    /* Mengatur card agar memiliki margin dan lebar yang sesuai */
    .card {
        margin: 15px 0; /* Menambahkan margin vertikal di sekitar card */
        width: 100%; /* Mengatur lebar card menjadi 100% */
        max-width: 500px; /* Mengatur lebar maksimum card */
    }
    
    /* Menambahkan gaya untuk header card */
    .card-header {
        font-weight: bold; /* Menebalkan teks header */
        font-size: 1.25rem; /* Mengatur ukuran font header */
    }
    
    /* Menambahkan gaya untuk body card */
    .card-body {
        padding: 15px; /* Menambahkan padding di dalam body card */
        text-align: center; /* Menengahkan teks di dalam body card */
    }
    
     .circle1, .circle2 {
        left: 14%;
        width: 70%; /* Lebar lingkaran lebih kecil di perangkat tablet */
    }
    
    hr {
      left: 14%;
      width: 70%;
    }
    
    .quote p {
    font-size: 1rem;
  }  
  
  .tepi {
    width: 50%;
    height: auto;
    margin-bottom: 5%;
  }
  
  .image {
    width: 50%;
    height: auto;
  }
  
  .grid {
    grid-gap: 0px;
  }
  
